@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.product_quantity {
  width: 2.5rem;
  height: 2.4rem;
  text-align: center;
  /* border: cyan; */
  border-top: 1px solid beige;
  border-bottom: 1px solid beige;
  border-left: none;
  border-right: none;
}

.product_prize {
  font-size: 2rem;
}
